input, .linea>button {
    margin: 10px;
    min-width: 150px;
    max-width: 150px;
}

.lineas>input, .totales>input {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: gray;
    color: white;
}

.totales>input {
    background-color: blueviolet;
}

input[name="total"] {
    text-align: center;
}

#accion {
    font-size: xx-large;
    text-align: left;
    color: red;
}

.botones {
    width: 50%;
    margin: 0 auto;
}

button {
    padding: 10px;
    margin: 10px;
    color: black;
    font-size: large;
}


button:disabled{
    background-color: gray;
}


.nav > button{
    color: black;
}

.control > button{
    color: black;
}

.seleccionado{
    background-color: yellow;
}